/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfcf7; /* fondo claro */
  color: #1a1a1a;
}

button {
  cursor: pointer;
  font-size: 16px;
}
